*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}
body{
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
.wrapper{
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: #eee;
}
.slider{
    position: relative;
    width: 100%;
}
.slider__wrapper{
    position: relative;
    max-width: 700px;
    min-height: 350px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
.slider__container{
    width: 100%;
}
.slider__item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    line-height: 0;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease-out;
    opacity: 0;
}
.show{
    opacity: 1;
}
.slider__img{
    width: 100%;
    height: auto;
}
.slider__control{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 36%;
    padding: 10px 16px 16px 16px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    font-weight: bold;
    font-size: 35px;
    z-index: 5;
    text-decoration: none;
    transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease-out;
}
.slider__control-right{
    right: 0;
}
.slider__wrapper:hover .slider__control{
    opacity: 1;
}